.contact-child {
    position: absolute;
    top: 238px;
    left: 83px;
    border-radius: 8px;
    background-color: var(--color-gray-200);
    width: 1754px;
    height: 871px;
  }
  .group-child20 {
    position: absolute;
    top: 8px;
    left: 4px;
    background-color: var(--color-gainsboro-200);
    width: 1587px;
    height: 108px;
  }
  .group-child21 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #8692a6;
    width: 795px;
    height: 116px;
  }
  .genre {
    position: absolute;
    top: 18px;
    left: 295px;
  }
  .contact-item,
  .rectangle-parent4 {
    position: absolute;
    top: 191px;
    left: 165px;
    width: 1591px;
    height: 116px;
  }
  .contact-item {
    top: 307px;
    background-color: var(--color-gainsboro-200);
    width: 795px;
    height: 732px;
  }
  .group-child22 {
    position: absolute;
    top: 0;
    left: 3px;
    border-radius: var(--br-3xs);
    width: 721px;
    height: 89px;
  }
  .fiction {
    position: absolute;
    top: 16px;
    left: 269px;
  }
  .group-child23,
  .group-child24 {
    position: absolute;
    top: 122px;
    left: 3px;
    border-radius: var(--br-3xs);
    width: 721px;
    height: 331px;
  }
  .group-child24 {
    top: 239px;
    left: 0;
  }
  .vector-group {
    position: absolute;
    top: 388px;
    left: 216px;
    width: 724px;
    height: 570px;
    font-size: var(--font-size-21xl);
    color: var(--color-black);
    font-family: var(--font-tiro-tamil);
  }
  .contact {
    width: 100%;
    position: relative;
    height: 1080px;
    overflow: hidden;
    background-image: url(./public/contact@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: none;
    text-align: left;
    font-size: var(--font-size-45xl);
    color: var(--schemes-on-primary);
    font-family: var(--font-tiro-devanagari-sanskrit);
  }
  