.group-child2 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: var(--color-gainsboro-200);
    width: 1487px;
    height: 785px;
    mix-blend-mode: color-burn;
  }
  .about-the-book1 {
    position: absolute;
    top: 5px;
    left: 37px;
    white-space: pre-wrap;
  }
  .about-the-book-container,
  .frame-container {
    position: absolute;
    top: 20px;
    left: 28px;
    width: 255px;
    height: 32px;
    overflow: hidden;
  }
  .frame-container {
    top: 194px;
    left: 610px;
    width: 811px;
    height: 505px;
    font-size: var(--font-size-5xl);
  }
  .wings-of-fire1 {
    margin: 0;
  }
  .wings-of-fire-container1 {
    position: absolute;
    top: 258px;
    left: 677px;
    font-size: var(--font-size-xl);
    font-family: var(--font-tiro-kannada);
    display: inline-block;
    width: 605px;
  }
  .lend1 {
    position: absolute;
    top: 20px;
    left: 79px;
  }
  .group-child3,
  .lend-group {
    position: absolute;
    height: 61px;
  }
  .group-child3 {
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 63px;
    object-fit: cover;
  }
  .lend-group {
    top: 640px;
    left: 218px;
    width: 127px;
  }
  .like1 {
    position: absolute;
    top: 20px;
    left: 75px;
  }
  .group-child5,
  .like-group {
    position: absolute;
    top: 640px;
    left: 56px;
    width: 116px;
    height: 61px;
  }
  .group-child5 {
    top: 17px;
    left: 31px;
    border-radius: var(--br-3xs);
    background-color: var(--color-darkgray);
    width: 1430px;
    height: 127px;
  }
  .taylor1 {
    position: absolute;
    top: 51px;
    left: 198px;
    font-size: var(--font-size-17xl);
    display: inline-block;
    font-family: var(--font-tiro-bangla);
    color: var(--color-gray-300);
    width: 164px;
    height: 56px;
  }
  .group-child6,
  .group-child7 {
    position: absolute;
    top: 2.7px;
    left: 0;
    width: 239px;
    height: 417.3px;
    object-fit: cover;
  }
  .group-child7 {
    top: 0;
    left: 239px;
    width: 300px;
    height: 420px;
    overflow: hidden;
  }
  .group-child8,
  .group-div {
    position: absolute;
    top: 194px;
    left: 46px;
    width: 539px;
    height: 420px;
  }
  .group-child8 {
    top: 35px;
    left: 76px;
    border-radius: var(--br-11xs);
    width: 89px;
    height: 89px;
    object-fit: cover;
  }
  .feed-from-profile-inner,
  .group-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 1487px;
    height: 785px;
  }
  .feed-from-profile-inner {
    top: 231px;
    left: 343px;
  }
  .arrow-back-icon,
  .feed-from-profile-child {
    position: absolute;
    top: 257px;
    left: 51px;
    width: 263.5px;
    height: 731.5px;
  }
  .arrow-back-icon {
    top: 72px;
    left: 95px;
    width: 84px;
    height: 76px;
    cursor: pointer;
  }
  .feed-from-profile {
    width: 100%;
    position: relative;
    height: 1080px;
    background-image: url(./public/home@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-black);
    font-family: var(--font-titan-one);
  }
  