.avatar-with-background {
    position: absolute;
    top: calc(50% + 325.5px);
    left: -155.3px;
    width: 165.2px;
    height: 165.2px;
    transform: rotate(11.1deg);
    transform-origin: 0 0;
  }
  .card-shape {
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(357.97px);
    border-radius: var(--br-mini);
    background-color: var(--color-gray-200);
    width: 956px;
    height: 946px;
  }
  .group-child25 {
    position: absolute;
    top: 267.5px;
    left: 26.5px;
    border-top: 1px solid var(--schemes-on-primary);
    box-sizing: border-box;
    width: 898.1px;
    height: 1px;
  }
  .niviya {
    position: absolute;
    top: 20px;
    left: 104px;
    font-weight: 500;
  }
  .group-child26 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    object-fit: cover;
  }
  .niviya-parent {
    position: absolute;
    top: 169px;
    left: 42px;
    width: 222px;
    height: 90px;
  }
  .elsa-parent,
  .kabilan-parent,
  .travis-parent {
    position: absolute;
    top: 294px;
    left: 42px;
    width: 245px;
    height: 90px;
  }
  .elsa-parent,
  .travis-parent {
    top: 410px;
    width: 219px;
  }
  .elsa-parent {
    top: 526px;
    width: 183px;
    cursor: pointer;
  }
  .group-child31,
  .harry-parent {
    position: absolute;
    top: 642px;
    left: 42px;
    width: 211px;
    height: 90px;
  }
  .group-child31 {
    top: 855.5px;
    left: 28.5px;
    border-top: 1px solid var(--schemes-on-primary);
    box-sizing: border-box;
    width: 898.1px;
    height: 1px;
  }
  .joe-parent {
    position: absolute;
    top: 757px;
    left: 42px;
    width: 174px;
    height: 90px;
  }
  .card-shape-parent,
  .sophia-parent {
    position: absolute;
    top: -35px;
    left: 446px;
    width: 956px;
    height: 946px;
  }
  .sophia-parent {
    top: 824px;
    left: 489px;
    width: 236px;
    height: 90px;
  }
  .avatar-with-background-parent {
    position: absolute;
    top: 95px;
    left: 449px;
    box-shadow: 0 6.3px 31.46px rgba(0, 0, 0, 0.15);
    width: 384.1px;
    height: 180.8px;
  }
  .message-child,
  .message-child1,
  .message-child2,
  .message-inner,
  .message-item {
    position: absolute;
    top: 807.5px;
    left: 918.5px;
    border-top: 1px solid var(--schemes-on-primary);
    box-sizing: border-box;
    width: 898.1px;
    height: 1px;
  }
  .message-child1,
  .message-child2,
  .message-inner,
  .message-item {
    top: 686.5px;
    left: 923.5px;
  }
  .message-child1,
  .message-child2,
  .message-inner {
    top: 564.5px;
  }
  .message-child1,
  .message-child2 {
    top: 449.5px;
    left: 918.5px;
  }
  .message-child2 {
    top: 200.5px;
    left: 918.4px;
  }
  .afshaan-parent {
    position: absolute;
    top: 102px;
    left: 932px;
    width: 261px;
    height: 90px;
  }
  .arrow-back-icon2 {
    position: absolute;
    top: 67px;
    left: 72px;
    width: 84px;
    height: 76px;
    cursor: pointer;
  }
  .message {
    width: 100%;
    position: relative;
    height: 1080px;
    overflow: hidden;
    background-image: url(./public/page-41@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: left;
    font-size: var(--font-size-21xl);
    color: var(--schemes-on-primary);
    font-family: var(--single-line-body-base);
  }
  