.biblo-connect1 {
    position: absolute;
    top: 60px;
    left: 80px;
    line-height: 150%;
  }
  .sign-out {
    position: absolute;
    top: 39px;
    left: 1720px;
    font-size: var(--font-size-10xl);
    font-weight: 500;
    display: inline-block;
    width: 123px;
    height: 35px;
    cursor: pointer;
  }
  .navigation1 {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--color-gray-200);
    height: 125px;
    overflow: hidden;
  }
  .image-6-icon {
    position: absolute;
    top: 125px;
    left: 1745px;
    width: 54px;
    height: 54px;
    object-fit: cover;
    cursor: pointer;
  }
  .profile-child,
  .profile-item {
    position: absolute;
    top: 257px;
    left: 51px;
    width: 263.5px;
    height: 731.5px;
  }
  .profile-item {
    top: 143px;
    left: 447px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .chennaitamilnaduindia1 {
    position: absolute;
    top: -91px;
    left: 443px;
    line-height: 150%;
    display: flex;
    align-items: center;
    width: 403px;
    height: 44px;
  }
  .chennaitamilnaduindia-container,
  .image-5-icon1 {
    position: absolute;
    top: 374px;
    left: 313px;
    width: 372px;
    height: 45px;
  }
  .image-5-icon1 {
    top: 289px;
    left: 717px;
    width: 27px;
    height: 33px;
    object-fit: cover;
  }
  .a-room-without {
    position: absolute;
    top: 221px;
    left: 717px;
    line-height: 150%;
    display: flex;
    font-weight: 200;
    white-space: pre-wrap;
    align-items: center;
    width: 1192px;
    height: 57px;
  }
  .dob,
  .last-name {
    left: 672px;
    color: var(--color-gray-200);
  }
  .last-name {
    position: absolute;
    top: 633px;
    line-height: 150%;
    display: flex;
    align-items: center;
    width: 571px;
    height: 73px;
  }
  .dob {
    top: 790px;
    width: 574px;
    height: 87px;
  }
  .contact1,
  .dob,
  .joshua {
    position: absolute;
    line-height: 150%;
    display: flex;
    align-items: center;
  }
  .contact1 {
    top: 833px;
    left: 1479px;
    font-weight: 500;
    color: var(--color-gray-200);
    width: 342px;
    height: 75px;
  }
  .joshua {
    top: 143px;
    left: 717px;
    font-size: var(--font-size-45xl);
    font-weight: 600;
    width: 415px;
    height: 65px;
  }
  .profile-inner {
    position: absolute;
    top: 433px;
    left: 429px;
    border-radius: var(--br-mini);
    background-color: var(--color-gainsboro-200);
    width: 1392px;
    height: 75px;
  }
  .lending,
  .message1,
  .pages {
    position: absolute;
    top: 449px;
    left: 581px;
    line-height: 150%;
    display: flex;
    font-weight: 200;
    align-items: center;
    width: 250px;
    height: 41px;
  }
  .lending,
  .message1 {
    left: 1019px;
    cursor: pointer;
  }
  .lending {
    left: 1571px;
  }
  .profile-child1 {
    position: absolute;
    top: 440px;
    left: 437px;
    border-radius: var(--br-mini);
    background-color: var(--color-gainsboro-200);
    width: 394px;
    height: 60px;
    mix-blend-mode: exclusion;
  }
  .profile-child2,
  .profile-child3,
  .profile-child4 {
    position: absolute;
    top: 540px;
    width: 455px;
    height: 271px;
    object-fit: cover;
  }
  .profile-child2 {
    left: 439px;
    cursor: pointer;
  }
  .profile-child3,
  .profile-child4 {
    left: 904px;
  }
  .profile-child4 {
    left: 1369px;
  }
  .last-name1,
  .profile-child5 {
    position: absolute;
    top: 555px;
    left: 1033px;
    width: 392px;
    height: 250px;
  }
  .last-name1 {
    top: 913px;
    left: 672px;
    line-height: 150%;
    display: flex;
    color: var(--color-gray-200);
    align-items: center;
    width: 571px;
    height: 73px;
  }
  .profile-child6,
  .profile-child7,
  .profile-child8 {
    position: absolute;
    top: 820px;
    left: 439px;
    width: 455px;
    height: 271px;
    object-fit: cover;
  }
  .profile-child7,
  .profile-child8 {
    left: 904px;
  }
  .profile-child8 {
    left: 1369px;
  }
  .profile-child9 {
    position: absolute;
    top: 835px;
    left: 1033px;
    width: 392px;
    height: 250px;
  }
  .p {
    white-space: pre-wrap;
  }
  .followers1,
  .p {
    margin: 0;
  }
  .followers,
  .following {
    position: absolute;
    top: 143px;
    left: 1125px;
    font-size: var(--font-size-10xl);
    font-weight: 500;
    display: inline-block;
    width: 339px;
    height: 48px;
  }
  .following {
    top: 147px;
    left: 1369px;
  }
  .profile {
    width: 100%;
    position: relative;
    background-color: var(--color-gray-200);
    height: 1080px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-11xl);
    color: var(--color-black);
    font-family: var(--single-line-body-base);
  }
  