.arrow-back-icon2 {
  width: 5.25rem;
  height: 4.75rem;
  position: relative;
  cursor: pointer;
}
.frame-child13 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 100%;
  height: 100%;
}
.frame-child14 {
  position: absolute;
  top: 1.625rem;
  left: 3.063rem;
  border-radius: 50%;
  width: 7.563rem;
  height: 7.563rem;
  object-fit: contain;
  z-index: 1;
}
.frame-child15,
.image-7-icon,
.image-8-icon {
  position: absolute;
  top: 13.438rem;
  left: 34.375rem;
  width: 37.125rem;
  height: 34.625rem;
  object-fit: contain;
  z-index: 1;
}
.image-7-icon,
.image-8-icon {
  top: 27.063rem;
  left: 16.125rem;
  width: 6.25rem;
  height: 6.25rem;
}
.image-8-icon {
  top: 28.125rem;
  left: 83.5rem;
  width: 4.938rem;
  height: 4.188rem;
}
.vector-parent {
  width: 105.813rem;
  height: 53.188rem;
  position: absolute;
  margin: 0 !important;
  top: 6.688rem;
  left: 7.063rem;
}
.elsa {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 5.875rem;
  z-index: 1;
}
.elsa-wrapper {
  width: 26.125rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.divider {
  align-self: stretch;
  height: 0.063rem;
  position: relative;
  border-top: 1px solid var(--schemes-on-primary);
  box-sizing: border-box;
  z-index: 1;
}
.frame-parent2 {
  width: 93.75rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3.062rem;
  max-width: 100%;
}
.bookmark,
.bookmark-inner,
.frame-parent2 {
  display: flex;
  align-items: flex-start;
}
.bookmark-inner {
  width: 110.375rem;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}
.bookmark {
  width: 100%;
  height: 67.5rem;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xl) var(--padding-10xl) 50.187rem;
  box-sizing: border-box;
  gap: 3.875rem;
  background-image: url(./public/bookmark@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--schemes-on-primary);
  font-family: var(--single-line-body-base);
}
@media screen and (max-width: 750px) {
  .elsa {
    font-size: var(--font-size-19xl);
  }
}
@media screen and (max-width: 675px) {
  .frame-parent2 {
    gap: var(--gap-5xl);
  }
  .bookmark {
    gap: var(--gap-12xl);
  }
}
@media screen and (max-width: 450px) {
  .elsa {
    font-size: var(--font-size-10xl);
  }
  .bookmark {
    gap: var(--gap-mini);
  }
}
