body {
  background-color: #9C8C76;
}

.home-child {
  width: 0.313rem;
  height: 0.063rem;
  position: absolute;
  margin: 0 !important;
  top: 13.188rem;
  left: 19.875rem;
  background-color: var(--color-gainsboro-200);
}

.ellipse-icon {
  width: 10.75rem;
  height: 10.75rem;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.ellipse-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
}

.frame-header,
.home-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}

.frame-header {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}

.home-inner {
  width: 106.875rem;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi);
  box-sizing: border-box;
}

.search1 {
  height: 47.344rem;
  width: 16.675rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xl) 0 0;
  box-sizing: border-box;
}

.sidebar {
  position: relative;
  top: 2rem;
  width: 109.938rem;
  flex-direction: row;
  gap: 0.325rem;
  max-width: 100%;
}

.home {
  width: 100%;
  position: relative;
  top: -1rem;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-mid) var(--padding-32xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: 2.625rem;
  background-image: url(public/home@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  line-height: normal;
  letter-spacing: normal;
}

.circle-button {
  position: relative;
  top: -3rem;
  left: -3rem;
  display: block;
  width: 40px; 
  height: 40px; 
  background-color: #007bff; 
  color: #fff; 
  border: none;
  border-radius: 50%; 
  cursor: pointer;
  text-align: center;
  line-height: 40px; 
  font-size: 20px; 
  margin-top: 10px; 
}

@media screen and (max-width: 1200px) {
  .home {
      padding-left: var(--padding-6xl);
      padding-right: var(--padding-6xl);
      box-sizing: border-box;
  }
}

@media screen and (max-width: 1050px) {
  .search1 {
      display: none;
  }
}

@media screen and (max-width: 750px) {
  .home {
      gap: var(--gap-2xl);
  }
}

@media screen and (max-width: 450px) {
  .ellipse-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 50px;
  }
}

.large-container {
  position: relative;
    left: 10rem;
    top: -43rem;
    padding: 5rem;
    border-radius: 3rem;
    height: 40rem;
    width: 75rem;
    background-color: black;
    margin-bottom: 2vh;
}

.small-container{
  position: relative;
  left: -1rem;
  top: -1rem;
  border-radius: 1rem;
  height: 10rem;
  width: 68rem;
  background-color: #007bff;
}

.prof-pic {
  position: relative;
    left: 1rem;
    top: -8.5rem;
    padding: 2.5rem;
    border-radius: 3rem;
    height: 2rem;
    width: 2rem;
    background-color: white;
}

.u-name {
  position: relative;
  top: -12rem;
  left: 8rem;
  border-radius: 2rem;
  height: 2rem;
  width: 15rem;
  background-color: white;
}

.follow-btn {
  position: relative;
  top: -14rem;
  left: 57rem;
  text-size-adjust: large;
  height: 2rem;
  width: 4rem;
  background-color: white;
}

.post-pic {
  position: relative;
}

.pic-post {
  position: relative;
  max-width: 30rem;
  max-height: 30rem;
  top: -6rem;
  left: 0rem;
  background-color: white;
}

.desc {
  position: relative;
  height: 13rem;
  width: 25rem;
  top: -23rem;
  left: 38rem;
  background-color: white;
}

.like-btn{
position: relative;
width: 63px;
height: 61px;
left: 39rem;
top: -20rem;
background: url(static/public/ellipse-571@2x.png);
filter: drop-shadow(0px 4px 4px rgba(186, 69, 69, 0.25));
}

.lending-btn {
position: relative;
position: relative;
width: 63px;
height: 61px;
left: 42rem;
top: -20rem;
background: url();
filter: drop-shadow(0px 4px 4px rgba(186, 69, 69, 0.25));
}