.card-shape2 {
  width: 108.563rem;
  height: 59.125rem;
  position: relative;
  backdrop-filter: blur(357.97px);
  border-radius: var(--br-26xl);
  background-color: var(--color-gray-100);
  display: none;
  max-width: 100%;
}
.arrow-back-icon5 {
  width: 5.25rem;
  height: 4.75rem;
  position: relative;
  cursor: pointer;
  z-index: 2;
}
.user-icon {
  height: 5.625rem;
  width: 5.625rem;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
}
.elsa3 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 4.938rem;
  z-index: 1;
}
.elsa-wrapper1 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xl) 0 0;
}
.bubble-right-child,
.elsa-wrapper1,
.user-info {
  display: flex;
  align-items: flex-start;
}
.user-info {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.bubble-right-child {
  width: 61.125rem;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 3.313rem;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
  font-family: var(--single-line-body-base);
  font-weight: 500;
  font-size: var(--font-size-4xl);
  color: var(--color-black);
  max-width: 100%;
}
.image-10-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-10-wrapper {
  height: 3.281rem;
  width: 3.438rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs-5);
  box-sizing: border-box;
}
.image-9-icon {
  height: 3.688rem;
  width: 3.875rem;
  position: relative;
  object-fit: cover;
  z-index: 3;
}
.message-image {
  width: 10.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.bubble-right-wrapper,
.bubble-right4 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.bubble-right4 {
  align-self: stretch;
  border-radius: var(--corner-large);
  background-color: var(--color-gainsboro-100);
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-6xs) var(--padding-7xs);
  row-gap: 20px;
  z-index: 2;
}
.bubble-right-wrapper {
  width: 77.438rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xs);
}
.user-request {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.afshaan1,
.frame-child27 {
  position: relative;
  z-index: 1;
}
.frame-child27 {
  height: 5.625rem;
  width: 5.625rem;
  border-radius: 50%;
  object-fit: cover;
}
.afshaan1 {
  font-weight: 500;
}
.afshaan-container,
.ellipse-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.afshaan-container {
  flex-direction: column;
  padding: var(--padding-xl) 0 0;
}
.ellipse-parent1 {
  flex-direction: row;
  gap: var(--gap-sm);
}
.sent-you-a {
  width: 61.125rem;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--single-line-body-base);
  font-size: var(--font-size-4xl);
  background-color: transparent;
  height: 3.125rem;
  position: relative;
  line-height: 1.088rem;
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  max-width: calc(100% - 168px);
  padding: 0;
}
.image-10-icon1,
.image-10-icon2 {
  height: 3.063rem;
  width: 3.438rem;
  position: relative;
  object-fit: contain;
}
.image-10-icon2 {
  height: 3.688rem;
  width: 3.875rem;
  z-index: 2;
}
.image-10-parent {
  width: 10.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.bubble-right-container,
.bubble-right5 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.bubble-right5 {
  align-self: stretch;
  height: 4.25rem;
  border-radius: var(--corner-large);
  background-color: var(--color-gainsboro-100);
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-6xs);
  z-index: 1;
}
.bubble-right-container {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-4xs);
  min-width: 50.313rem;
}
.request-banner,
.user-request1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.user-request1 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 4.937rem;
}
.request-banner {
  width: 98.688rem;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-31xl);
}
.card-shape-container,
.lending-inner,
.request-banner-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.request-banner-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-11xl);
}
.card-shape-container,
.lending-inner {
  justify-content: flex-start;
}
.card-shape-container {
  flex: 1;
  backdrop-filter: blur(357.97px);
  border-radius: var(--br-26xl);
  background-color: var(--color-gray-100);
  flex-direction: column;
  padding: var(--padding-15xl) var(--padding-11xl) 36.312rem;
  gap: var(--gap-6xl);
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--schemes-on-primary);
  font-family: var(--single-line-body-base);
}
.lending-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-6xl) 0 var(--padding-7xl);
}
.lending2 {
  text-decoration: none;
  position: relative;
  line-height: 1.125rem;
  font-weight: 500;
  color: inherit;
}
.lending-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xl);
}
.frame-child28 {
  width: 93.813rem;
  height: 0.063rem;
  position: relative;
  border-top: 1px solid var(--schemes-on-primary);
  box-sizing: border-box;
  max-width: 190%;
  flex-shrink: 0;
}
.frame-parent10,
.lending1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frame-parent10 {
  width: 70.125rem;
  overflow: hidden;
  padding: var(--padding-6xs) 10.375rem var(--padding-30xl);
  gap: var(--gap-6xl);
  max-width: 100%;
  z-index: 1;
  margin-top: -55.625rem;
}
.lending1 {
  width: 100%;
  position: relative;
  padding: var(--padding-48xl) var(--padding-47xl);
  background-image: url(./public/bookmark@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--single-line-body-base);
}
@media screen and (max-width: 1750px) {
  .bubble-right4,
  .user-request {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .bubble-right-container {
    min-width: 100%;
  }
  .card-shape-container {
    padding-top: var(--padding-3xl);
    padding-bottom: 23.625rem;
    box-sizing: border-box;
  }
  .frame-parent10,
  .lending1 {
    padding-left: var(--padding-64xl);
    padding-right: var(--padding-64xl);
    box-sizing: border-box;
  }
  .lending1 {
    padding-left: var(--padding-14xl);
    padding-right: var(--padding-14xl);
  }
}
@media screen and (max-width: 900px) {
  .afshaan1,
  .elsa3 {
    font-size: var(--font-size-13xl);
  }
  .ellipse-parent1 {
    flex-wrap: wrap;
  }
  .user-request1 {
    gap: 2.438rem;
  }
  .request-banner {
    gap: var(--gap-6xl);
  }
  .card-shape-container {
    padding-top: var(--padding-xl);
    padding-bottom: 15.375rem;
    box-sizing: border-box;
  }
  .lending2 {
    font-size: var(--font-size-13xl);
    line-height: 0.875rem;
  }
  .frame-parent10 {
    padding-left: var(--padding-22xl);
    padding-right: var(--padding-22xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .elsa3 {
    font-size: var(--font-size-5xl);
  }
  .user-info {
    flex-wrap: wrap;
  }
  .afshaan1 {
    font-size: var(--font-size-5xl);
  }
  .sent-you-a {
    font-size: var(--font-size-lg);
    line-height: 0.875rem;
  }
  .user-request1 {
    gap: var(--gap-xl);
  }
  .lending2 {
    font-size: var(--font-size-5xl);
    line-height: 0.625rem;
  }
}
