*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: aliceblue;
}
.topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.prof{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(Img/home.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

h1 {
    position: relative;
    top: 0rem;
    color: white;
}

.prof-img {
    position: relative;

}

.save-btn {
    position: relative;
    top: -1rem;
    left: 25rem;
    width: 10vw;
    padding: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
}

.save-btn:hover {
    background-color: green;
}

form {
    position: relative;
    top:3rem;
} 

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 30vw;
    padding: 1rem;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 5px;
}