.biblo-connect1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
}
.frame-child {
  height: 74px;
  width: 268px;
  position: relative;
  border-radius: var(--br-61xl);
  background-color: var(--color-gray-200);
  cursor: pointer;
}
.save1 {
  height: 79px;
  width: 114px;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  mix-blend-mode: normal;
  z-index: 1;
  margin: 0 0 0-197px;
}
.navigation-inner1,
.rectangle-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent {
  align-self: stretch;
  flex-direction: row;
}
.navigation-inner1 {
  width: 268px;
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-19xl);
  color: var(--color-white);
}
.navigation-item {
  height: 200px;
  width: 200px;
  position: absolute;
  margin: 0 !important;
  bottom: -141px;
  left: 848px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
}
.navigation1 {
  align-self: stretch;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-41xl) var(--padding-64xl) var(--padding-mid)
    var(--padding-61xl);
  position: relative;
  mix-blend-mode: darken;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.label-text8 {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: inline-block;
  min-width: 57px;
}
.label-text7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.input-text11,
.input-text12 {
  width: 0;
  display: flex;
  align-items: center;
}
.input-text12 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
}
.input-text11 {
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  font-size: var(--m3-body-large-size);
}
.content6 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-9xs) 656px var(--padding-9xs) 0;
  box-sizing: border-box;
  max-width: 100%;
}
.icon6 {
  height: 24px;
  width: 24px;
  position: relative;
}
.state-layer13 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
}
.container6,
.trailing-icon6 {
  display: none;
  align-items: center;
  justify-content: center;
}
.container6 {
  width: 40px;
  height: 40px;
  border-radius: var(--br-81xl);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
}
.trailing-icon6 {
  height: 48px;
  width: 48px;
  flex-direction: column;
}
.state-layer12,
.text-field13 {
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.state-layer12 {
  flex: 1;
  flex-direction: row;
  padding: var(--padding-9xs) 0 28px var(--padding-base);
  box-sizing: border-box;
}
.text-field13 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--schemes-surface-container-highest);
  height: 100%;
  flex-direction: column;
  width: 100%;
}
.active-indicator6 {
  position: absolute;
  top: 80px;
  left: 0;
  border-top: 1px solid var(--schemes-on-surface-variant);
  box-sizing: border-box;
  width: 729px;
  height: 1px;
}
.text-field-group {
  align-self: stretch;
  height: 81px;
  position: relative;
  flex-shrink: 0;
  max-width: 100%;
}
.supporting-text13 {
  height: 16px;
  flex: 1;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: inline-block;
  max-width: 100%;
}
.label-text9,
.supporting-text12,
.text-field12 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.supporting-text12 {
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-9xs) var(--padding-base) 0;
  box-sizing: border-box;
  flex-shrink: 0;
  max-width: 100%;
  margin-top: -1px;
  color: var(--schemes-on-surface-variant);
}
.label-text9,
.text-field12 {
  font-size: var(--m3-body-small-size);
}
.text-field12 {
  height: 80px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.label-text9 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 16px;
  flex-direction: row;
  align-items: center;
  font-family: var(--m3-body-small);
  color: var(--schemes-on-surface-variant);
  min-width: 22px;
}
.input-text13,
.input-text14 {
  width: 0;
  display: flex;
  align-items: center;
}
.input-text14 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
}
.input-text13 {
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
}
.content7 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-656xl) var(--padding-9xs) 0;
  box-sizing: border-box;
  max-width: 100%;
}
.icon7 {
  height: 24px;
  width: 24px;
  position: relative;
}
.state-layer15 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
}
.container7,
.trailing-icon7 {
  display: none;
  align-items: center;
  justify-content: center;
}
.container7 {
  width: 40px;
  height: 40px;
  border-radius: var(--br-81xl);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
}
.trailing-icon7 {
  height: 48px;
  width: 48px;
  flex-direction: column;
}
.state-layer14 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 var(--padding-8xl) var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
}
.active-indicator7,
.text-field15 {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  left: 0;
}
.text-field15 {
  height: 100%;
  top: 0;
  border-radius: var(--br-xl);
  background-color: var(--schemes-surface-container-highest);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.active-indicator7 {
  height: 1px;
  right: 0;
  bottom: -1px;
  border-top: 1px solid var(--schemes-on-surface-variant);
  box-sizing: border-box;
}
.supporting-text15 {
  height: 16px;
  flex: 1;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: inline-block;
  max-width: 100%;
}
.supporting-text14 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-base) 0;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 2;
  font-size: var(--m3-body-small-size);
  color: var(--schemes-on-surface-variant);
}
.label-text10,
.text-field14 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.text-field14 {
  height: 79px;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  max-width: 100%;
}
.label-text10 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 16px;
  flex-direction: row;
  align-items: center;
  font-family: var(--m3-body-small);
  font-size: var(--m3-body-small-size);
  color: var(--schemes-on-surface-variant);
  min-width: 32px;
}
.input-text15,
.input-text16 {
  width: 0;
  display: flex;
  align-items: center;
}
.input-text16 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
}
.input-text15 {
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
}
.content8 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-639xl) var(--padding-9xs) 0;
  box-sizing: border-box;
  max-width: 100%;
}
.icon8 {
  height: 24px;
  width: 24px;
  position: relative;
}
.state-layer17 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
}
.container8,
.trailing-icon8 {
  display: none;
  align-items: center;
  justify-content: center;
}
.container8 {
  width: 40px;
  height: 40px;
  border-radius: var(--br-81xl);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
}
.trailing-icon8 {
  height: 48px;
  width: 48px;
  flex-direction: column;
}
.state-layer16 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 var(--padding-4xl) var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
}
.active-indicator8,
.text-field17 {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  left: 0;
}
.text-field17 {
  height: 100%;
  top: 0;
  border-radius: var(--br-xl);
  background-color: var(--schemes-surface-container-highest);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.active-indicator8 {
  height: 1px;
  right: 0;
  bottom: -1px;
  border-top: 1px solid var(--schemes-on-surface-variant);
  box-sizing: border-box;
}
.supporting-text17 {
  height: 16px;
  flex: 1;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: inline-block;
  max-width: 100%;
}
.supporting-text16 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-base) 0;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 2;
  font-size: var(--m3-body-small-size);
  color: var(--schemes-on-surface-variant);
}
.label-text11,
.text-field16 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.text-field16 {
  height: 75px;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  max-width: 100%;
}
.label-text11 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 16px;
  flex-direction: row;
  align-items: center;
  font-family: var(--m3-body-small);
  font-size: var(--m3-body-small-size);
  color: var(--schemes-on-surface-variant);
  min-width: 67px;
}
.input-text17,
.input-text18 {
  width: 0;
  display: flex;
  align-items: center;
}
.input-text18 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
}
.input-text17 {
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
}
.content9 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-582xl) var(--padding-9xs) 0;
  box-sizing: border-box;
  max-width: 100%;
}
.icon9 {
  height: 24px;
  width: 24px;
  position: relative;
}
.state-layer19 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
}
.container9,
.state-layer19,
.trailing-icon9 {
  align-items: center;
  justify-content: center;
}
.container9 {
  border-radius: var(--br-81xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-9xs);
}
.trailing-icon9 {
  height: 48px;
  display: none;
  flex-direction: column;
}
.state-layer18 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 var(--padding-8xl) var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
}
.active-indicator9,
.text-field19 {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  left: 0;
}
.text-field19 {
  height: 100%;
  top: 0;
  border-radius: var(--br-xl);
  background-color: var(--schemes-surface-container-highest);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.active-indicator9 {
  height: 1px;
  right: 0;
  bottom: -1px;
  border-top: 1px solid var(--schemes-on-surface-variant);
  box-sizing: border-box;
}
.supporting-text19 {
  height: 16px;
  flex: 1;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: inline-block;
  max-width: 100%;
}
.supporting-text18 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-base) 0;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 2;
  font-size: var(--m3-body-small-size);
  color: var(--schemes-on-surface-variant);
}
.label-text12,
.text-field18 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.text-field18 {
  height: 79px;
  border-radius: var(--br-xl);
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  max-width: 100%;
}
.label-text12 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 16px;
  flex-direction: row;
  align-items: center;
  font-family: var(--m3-body-small);
  font-size: var(--m3-body-small-size);
  color: var(--schemes-on-surface-variant);
  min-width: 25px;
}
.input-text19,
.input-text20 {
  width: 0;
  display: flex;
  align-items: center;
}
.input-text20 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
}
.input-text19 {
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
}
.content10 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-652xl) var(--padding-9xs) 0;
  box-sizing: border-box;
  max-width: 100%;
}
.icon10 {
  height: 24px;
  width: 24px;
  position: relative;
}
.state-layer21 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
}
.container10,
.state-layer21,
.trailing-icon10 {
  align-items: center;
  justify-content: center;
}
.container10 {
  border-radius: var(--br-81xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-9xs);
}
.trailing-icon10 {
  height: 48px;
  display: none;
  flex-direction: column;
}
.state-layer20 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 var(--padding-8xl) var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
}
.active-indicator10,
.text-field21 {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  left: 0;
}
.text-field21 {
  height: 100%;
  top: 0;
  border-radius: var(--br-xl);
  background-color: var(--schemes-surface-container-highest);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.active-indicator10 {
  height: 1px;
  right: 0;
  bottom: -1px;
  border-top: 1px solid var(--schemes-on-surface-variant);
  box-sizing: border-box;
}
.supporting-text21 {
  height: 16px;
  flex: 1;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: inline-block;
  max-width: 100%;
}
.supporting-text20 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-base) 0;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 2;
  text-align: left;
  font-size: var(--m3-body-small-size);
  color: var(--schemes-on-surface-variant);
  font-family: var(--m3-body-small);
}
.text-field-parent,
.text-field20 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.text-field20 {
  align-self: stretch;
  height: 79px;
  border-radius: var(--br-xl);
  align-items: flex-start;
  position: relative;
}
.text-field-parent {
  width: 729px;
  align-items: flex-end;
  gap: 68px;
}
.pop-up,
.pop-up-inner {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.pop-up-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 21px 0 var(--padding-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--m3-body-large-size);
  color: var(--schemes-on-surface);
  font-family: var(--m3-body-small);
}
.pop-up {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 43px;
  gap: 209px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .pop-up {
    gap: 104px;
  }
}
@media screen and (max-width: 1050px) {
  .biblo-connect1 {
    font-size: var(--font-size-5xl);
    line-height: 36px;
  }
  .save1 {
    font-size: var(--font-size-11xl);
    line-height: 46px;
  }
  .navigation1 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-22xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .navigation1 {
    flex-wrap: wrap;
  }
  .content6,
  .content7 {
    box-sizing: border-box;
  }
  .content6 {
    padding-right: 328px;
  }
  .content7 {
    padding-right: var(--padding-318xl);
  }
  .content10,
  .content8,
  .content9 {
    padding-right: var(--padding-310xl);
    box-sizing: border-box;
  }
  .content10,
  .content9 {
    padding-right: var(--padding-281xl);
  }
  .content10 {
    padding-right: var(--padding-316xl);
  }
  .text-field-parent {
    gap: 34px;
  }
  .pop-up {
    gap: 52px;
  }
}
@media screen and (max-width: 450px) {
  .biblo-connect1 {
    font-size: var(--font-size-lg);
    line-height: 27px;
  }
  .save1 {
    font-size: var(--font-size-4xl);
    line-height: 34px;
  }
  .content10,
  .content6,
  .content7,
  .content8,
  .content9 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .text-field-parent {
    gap: 17px;
  }
  .pop-up {
    gap: var(--gap-7xl);
  }
}
