<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./bookmark.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Tiro Bangla:ital,wght@1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Titan One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Tiro Kannada:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,700;1,200;1,600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Eloquia Text:wght@300;400;600&display=swap"
    />
  </head>
  <body>
    <div class="bookmark">
      <img
        class="arrow-back-icon2"
        loading="lazy"
        alt=""
        src="./public/arrow-back.svg"
        id="arrowBack"
      />

      <main class="vector-parent">
        <img class="frame-child13" alt="" src="./public/rectangle-204.svg" />

        <img
          class="frame-child14"
          loading="lazy"
          alt=""
          src="./public/ellipse-381@2x.png"
        />

        <img
          class="frame-child15"
          loading="lazy"
          alt=""
          src="./public/rectangle-205@2x.png"
        />

        <img
          class="image-7-icon"
          loading="lazy"
          alt=""
          src="./public/image-7@2x.png"
        />

        <img
          class="image-8-icon"
          loading="lazy"
          alt=""
          src="./public/image-8@2x.png"
        />
      </main>
      <div class="bookmark-inner">
        <div class="frame-parent2">
          <div class="elsa-wrapper">
            <div class="elsa">Elsa</div>
          </div>
          <div class="divider"></div>
        </div>
      </div>
    </div>

    <script>
      var arrowBack = document.getElementById("arrowBack");
      if (arrowBack) {
        arrowBack.addEventListener("click", function (e) {
          window.location.href = "./home.html";
        });
      }
      </script>
  </body>
</html>
