<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User-Information</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/new.css') }}">
</head>
<body>

    <h1 >Biblo->Connect</h1>
    <div class="prof"></div>
    <div class="prof-img"><img src="{{ url_for('static',filename='public/circle.jpg') }}" alt=""></div>
    <div class="prof-img2"><img src="{{ url_for('static',filename='public/profile.jpg') }}"alt=""></div>
    <form method='post' action="/info" enctype="multipart/form-data">
        <button class="save-btn">Save</button>
        <label for="name">Username:</label> <br>
        <input type="text" name="name" id="name"> <br>
        <label for="country">Country:</label> <br>
        <input type="text" name="country" id="country"> <br>
        <label for="state">State:</label> <br>
        <input type="text" name="state" id="state"> <br>
        <label for="district">District:</label> <br>
        <input type="text" name="district" id="district"> <br>
        <label for="state">Contact Number:</label> <br>
        <input type="text" name="contact-number" id="contact-number"> <br>
        <label for="about">About:</label> <br>
        <input type="text" name="about" id="about"> <br>
        <label for="image">Change profile picture:</label>
        <input type="file" id="image" name="image" accept="image/*" required><label>
    </form>
</body>
</html>