<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{ url_for('static',filename='css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/feed-from-search.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Tiro Bangla:ital,wght@1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Titan One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Tiro Kannada:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,700;1,200;1,600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Eloquia Text:wght@300;400;600&display=swap"
    />
  </head>
  <body>
    <div class="feed-from-search">
      <div class="header">
        <img
          class="arrow-back-icon"
          loading="lazy"
          alt=""
          src="{{ url_for('static',filename='public/arrow-back.svg') }}"
          id="arrowBack"
        />
      </div>
      <main class="content1">
        <div class="hero">
          <img
            class="hero-child"
            loading="lazy"
            alt=""
            src="{{ url_for('static',filename='public/group-17.svg') }}"
            />
        </div>
        <section class="hero-background-parent">
          <div class="hero-background"></div>
          <div class="rectangle-parent1">
            <div class="frame-child9"></div>
            <div class="hero-title">
              <img
                class="hero-title-child"
                loading="lazy"
                alt=""
                src="{{ url_for('static',filename='public/ellipse-50@2x.png') }}"

              />

              <div class="taylor-wrapper">
                <h1 class="taylor1">TAYLOR</h1>
              </div>
            </div>
            <div class="hero-button">
              <button class="button">
                <img class="star-icon" alt=""                 src="{{ url_for('static',filename='public/star.svg') }}"
 />

                <div class="button1">FOLLOW</div>
                <img class="x-icon" alt=""   src="{{ url_for('static',filename='public/x.svg') }}" />
              </button>
            </div>
          </div>
          <div class="features">
            <div class="feature-list">
              <div class="feature-item">
                <div class="feature-card">
                  <div class="feature-details">
                    <img
                      class="feature-image-icon"
                      loading="lazy"
                      alt=""
                      src="{{ url_for('static',filename='public/rectangle-79@2x.png') }}"
                    />

                    <div class="feature-caption">
                      <div class="feature-info">
                        <div class="feature-stats">
                          <img
                            class="likes-icon"
                            loading="lazy"
                            alt=""
                            src="{{ url_for('static',filename='public/ellipse-571@2x.png') }}"
                          />

                          <div class="like-wrapper">
                            <div class="like1">LIKE</div>
                          </div>
                        </div>
                        <img
                          class="shares-icon"
                          loading="lazy"
                          alt=""
                          src="{{ url_for('static',filename='public/ellipse-56@2x.png') }}"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="feature-action">
                  <img
                    class="lend-icon"
                    loading="lazy"
                    alt=""
                    src="{{ url_for('static',filename='public/frame-1321316151@2x.png') }}"
                  />

                  <div class="lend-container">
                    <div class="lend1">LEND</div>
                  </div>
                </div>
              </div>
              <div class="description">
                <div class="book-info">
                  <div class="about-the-book1">About the book</div>
                  <div class="synopsis">
                    <div class="wings-of-fire-container1">
                      <p class="wings-of-fire1">
                        "Wings of Fire" by Dr. APJ Abdul Kalam is a captivating
                        autobiography that charts his journey from a small-town
                        boy to one of India's most esteemed scientists and its
                        President. Through a blend of personal anecdotes and
                        professional insights, Kalam shares his humble
                        beginnings, his passion for aerospace engineering, and
                        his pivotal role in India's missile programs.
                      </p>
                      <p class="the-book-is1">
                        The book is a testament to resilience, hard work, and
                        visionary thinking. It offers a glimpse into the mind of
                        a man dedicated to his nation and inspires readers to
                        dream big and persevere. "Wings of Fire" is a must-read
                        for anyone seeking motivation and insight into the life
                        of an extraordinary leader.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>

    <script>
      var arrowBack = document.getElementById("arrowBack");
      if (arrowBack) {
        arrowBack.addEventListener("click", function (e) {
          window.location.href = "{{ url_for('templates',filename='feed-from-search.html') }}";
        });
      }
      </script>
  </body>
</html>
