<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblo->Connect</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="bg-img3"></div>
    <div class="rect">        
    <h1>Account Login</h1>
    <h3>If you are already a member you can login with your email address and password.</h3>
    <hr>
        <form>
            <label for="username">Email-address:</label> <br>
            <input type="text" name="email" id="email"> <br>
            <label for="password">Password:</label> <br>
            <input type="password" name="pwd" id="pwd"> <br>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label><br>
            <button type="submit">LOGIN</button> <br>
            <span class="psw"><a href="#">Forgot password?</a> </span>
        </form>
        <h4>Don't have an account?</h4>
        <span class="su"><a href="signup.html">Signup</a> </span>
    </div>
</body>
</html>